



<div class = 'artist_profile row'  data = <%=@artist_search.mbid %> >



  <div class="col-md-4"><img src = '<%=@artist_search.images['mega'] %>'/>
      <div class="follow-div" id="<%=@artist.id%>">
        <% if follow?(@artist) %>
        <%= button_to 'Following', {}, :disabled => true, :class => 'btn btn-default btn-lg following' %>
        <% else %>
        <%= button_to 'Follow', artists_follow_path(id: @artist.id), remote: true, :method => :post, :class => 'btn btn-default btn-lg follow' %>
        <% end %>

      </div>
  </div>



    <div class ='nonimg col-md-8'>

      <div class = 'title'>
        <span class='titletext'><%= @artist_search.name %></span>
      </div>


  <ul class = 'nav nav-tabs'>
    <li role='presentation' class='active' ><a href='#fragment-1' data-toggle='tab'>Artist Info</a></li>
    <li role='presentation'><a href='#fragment-2' data-toggle='tab'>Live Performance Videos</a></li>
  </ul>


  <div class='tab-content'>

      <div class ='summary tab-pane fade in active' id='fragment-1'>
        <br/><%=@artist_search.summary.html_safe %><br/><br/>
      <div class = 'summary'>
        <span>Genre Tag(s): </span><br>
        <%= display_genre(@artist_search) %>
      </div>
      </div>

      <div class = 'summary tab-pane fade' id='fragment-2'>
          <%= render 'videos' %>
      </div>

  </div>





      <div class='row buttonlist'>


          <div class='overallrating col-sm-4 col-centered btn-lg <%=star_class(@artist) %> '>
            <%= display_rating(@artist) %>
          </div>

          <div class ='col-sm-4 col-centered'>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg centered createreview" data-toggle="modal" data-target="#myModal">
        Create Review
      </button>
          </div>

          <div class='reviewstats col-sm-4 col-centered btn-lg'>
            <%= display_reviews(@artist) %>
          </div>





          </div>

      </div>


      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="myModalLabel">Create Review</h4>
            </div>
            <div class="modal-body margin-none padding-none">
              <div class='formContent'>
              <form id='reviewForm' class="form-horizontal" role="form" action="/artists/<%=params[:id]%>/reviews" method="post" data-remote = "true">
                <input type="hidden" value="<%=params[:id]%>" name="artist_id"/>
                <input type="hidden" value="<%=current_user.id%>" name="user_id"/>
                <div class="form-group">
                  <div class="col-sm-10">
                    <label>Venue:</label>
                    <input type="text" class="form-control" name="venue">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-10">
                    <label>Content:</label>
                    <textarea name="content" style="width: 100%"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-10">
                    <fieldset class="rating">
                        <legend>Music Rating:</legend>
                        <input type="radio" id="music_star5" name="music_rating" value="5" /><label for="music_star5" title="Rocks!">5 stars</label>
                        <input type="radio" id="music_star4" name="music_rating" value="4" /><label for="music_star4" title="Pretty good">4 stars</label>
                        <input type="radio" id="music_star3" name="music_rating" value="3" /><label for="music_star3" title="Meh">3 stars</label>
                        <input type="radio" id="music_star2" name="music_rating" value="2" /><label for="music_star2" title="Kinda bad">2 stars</label>
                        <input type="radio" id="music_star1" name="music_rating" value="1" /><label for="music_star1" title="Sucks big time">1 star</label>
                    </fieldset>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-10">
                    <fieldset class="rating">
                        <legend>Atmosphere:</legend>
                        <input type="radio" id="atm_star5" name="atmosphere_rating" value="5" /><label for="atm_star5" title="Rocks!">5 stars</label>
                        <input type="radio" id="atm_star4" name="atmosphere_rating" value="4" /><label for="atm_star4" title="Pretty good">4 stars</label>
                        <input type="radio" id="atm_star3" name="atmosphere_rating" value="3" /><label for="atm_star3" title="Meh">3 stars</label>
                        <input type="radio" id="atm_star2" name="atmosphere_rating" value="2" /><label for="atm_star2" title="Kinda bad">2 stars</label>
                        <input type="radio" id="atm_star1" name="atmosphere_rating" value="1" /><label for="atm_star1" title="Sucks big time">1 star</label>
                    </fieldset>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-10">
                    <fieldset class="rating">
                        <legend>Overall Rating:</legend>
                        <input type="radio" id="overall_star5" name="overall_rating" value="5" /><label for="overall_star5" title="Rocks!">5 stars</label>
                        <input type="radio" id="overall_star4" name="overall_rating" value="4" /><label for="overall_star4" title="Pretty good">4 stars</label>
                        <input type="radio" id="overall_star3" name="overall_rating" value="3" /><label for="overall_star3" title="Meh">3 stars</label>
                        <input type="radio" id="overall_star2" name="overall_rating" value="2" /><label for="overall_star2" title="Kinda bad">2 stars</label>
                        <input type="radio" id="overall_star1" name="overall_rating" value="1" /><label for="overall_star1" title="Sucks big time">1 star</label>
                    </fieldset>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-10">
                    <label>Event Date:</label>
                    <input type="date" class="form-control" name="event_date">
                  </div>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="repeat_experience"> Would you see this band live again?
                  </label>
                </div>
                </br>

              </div>
            <div class="modal-footer">
              <button type="submit" value="Send" class="btn btn-primary create">Create</button>
              <button type="button" class="btn btn-default cancel" data-dismiss="modal">Cancel</button>
            </div>
              </form>
            </div>
          </div>
        </div>



    </div>
  </div>


</div>
