<div class = 'review-template'>
  <h3>Venue: <%= review.venue %> </h3>
  <h3>Music Rating: <%= review.music_rating %> </h3>
  <h3>Atmosphere Rating: <%= review.atmosphere_rating %> </h3>
  <h3>Overall Rating: <%= review.overall_rating %> </h3>
  <h5>Date: <%= review.event_date %> </h5>
  <h5>Repeat: <%= review.repeat_experience %> </h5>
  <p><%= review.content %> </p>
</div>
