<% @reviews.each do |review| %>
	<div class='recent_review'>
		<a href='/artists/<%= review.artist_id %>/reviews/<%= review.id %>'>
			<%= Artist.find(review.artist_id).name %> at <%= review.venue %>
			<div class='review_content'>
				<p><%= review.content %></p>
			</div>
			
			<div class='row'>
				<div class='col-md-3'>
					<p>Rating: <%= review.music_rating %></p>
				</div>
				<div class='col-md-5'>
					<p>Concert Date: <%= review.event_date %></p>
				</div>
				<div class='col-md-4'>
					<p>Go again: <%= review.repeat_experience %></p>
				</div>
			</div>	
		</a>
	</div>
<% end %>