<% @reviews.each do |review| %>
<a href="/artists/<%= Artist.find(review.artist_id).id %>">
    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <%= Artist.find(review.artist_id).name %> at <%= review.venue %></h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class='review_spacing'>
                                <div class="col-xs-10 col-md-11">
                                    <div class='reviews_content'>
                                          <img src='<%= User.find(review.user_id).image %>' class="img-circle img-responsive review_image_userpage" >
                                          <p><%= review.content %></p>
                                    </div>
                                        <div class="mic-info">
                                          <div class='col-md-5'>
                                          Reviewed By: <%= User.find(review.user_id).name %>
                                          </div>
                                          <div class='col-md-5'>
                                          Event Date: <%= review.event_date %>
                                          </div>
                                          <div class='col-md-2'>
                                          Rating: <%= review.overall_rating %>
                                          </div>
                                        </div>
                                    <div class="comment-text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
</div>
</a>
<% end %>
<div class='ajax_reviews'>
</div>
