<% @reviews.each do |review| %>
    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <%= Artist.find(review.artist_id).name %> at <%= review.venue %></h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class='review_spacing'>
                                <div class="col-xs-10 col-md-11">
                                    <div class='reviews_content'>
                                        <%= review.content %>
                                    </div>
                                        <div class="mic-info">
                                          Venue: <%= review.venue %> - Rating: <%= review.overall_rating %>
                                          Event Date: <%= review.event_date %>
                                        </div>
                                    <div class="comment-text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
</div>
<% end %>
