
<div class='row'>
	<div class="col-md-3">
		<div class='user_profile'>
			<img src='<%= current_user.image %>' class='user_image'>
			<div class='user_name'>
				<h4> <%= current_user.name %></h4>
			</div>
			 <div role="tabpanel">
			 	<ul class="nav nav-tabs" role="tablist">
			 		<li role="presentation" class="active" id='following_tab'><a href="#following"aria-controls="following" role="tab" data-toggle="tab">Following </a>
			 		</li><div class='width10'></div>
			 		<li role="presentation" id='about_tab'><a href="#about" aria-constrols="about" role="tab" data-toggle="tab">About</a>
			 		</li>
			 		<li role="presentation" id='edit_tab'><a href="#edit" aria-constrols="edit" role="tab" data-toggle="tab">Edit</a>
			 		</li>

			 	</ul>
			 	<div class="tab-content">
				    <div role="tabpanel" class="tab-pane fade in active" id="following">
			 			<%= render partial:'following' %>
				    </div>
				    <div role="tabpanel" class="tab-pane fade" id="about">
				    	<%= render partial:'about' %>
				    </div>
				    <div role="tabpanel" class="tab-pane fade" id="edit">
				    	<form class='form-horizontal' id='edit_form' role='form' action="/users/about" method='post' data-remote = "true">
							<textarea class='form-control' name='about'></textarea>
							<button type="submit" class="btn btn-default btn-sm">Update About</button>
						</form>
				    </div>
	  			</div>
		  </div>
		</div>
	</div>
	<div class='col-md-6'>
		<h1>Recent Reviews</h1>
			<%= render partial:'reviews' %>
	</div>
	<div class='col-md-3'>
	<p>Showing concerts for <%= @zipcode %></p>
		<form class='form-horizontal' role='form' action="/users/<%= current_user.id %>" method='get'>
			<input type='text' class='form-control' name='current_location'>
			<button type="submit" class="btn btn-default btn-sm red" class='red'>Search New Zipcode</button>
		</form>
		<p> <% @concerts.each do |concert| %></p>
		  <div class='recent_review'>
			  <p><%= concert[:artist] %></p>
			  <div class='review_content'>
				  <p><%= concert[:venue] %></p>
				  <p><%= concert[:date] %></p>
				  <p><a href= "<%= concert[:url] %>" target="_blank"> Ticket info</a></p>
			  </div>
		  </div>
		<% end %>
	</div>
</div>