<div class='row'>
	<div class="col-md-3">
		<h4> <%= current_user.name %></h4>
		 <img src='<%= current_user.image %>'>
		 <div role="tabpanel">
		 	<ul class="nav nav-tabs" role="tablist">
		 		<li role="presentation" class="active"><a href="#home"aria-controls="home" role="tab" data-toggle="tab">Following </a></li>
		 		<li role="presentation"><a href="#profile" aria-constrols="profile" role="tab" data-toggle="tab">Profile</a></li>
		 		<li role="presentaion"><a href-"#edit" aria-controls="edit" role="tab" data-toggle="tab">Edit</a></li>
		 	</ul>
		 </div>
	</div>
	<div class='col-md-6'>
		<h1>River</h1>
	</div>
	<div class='col-md-3'>
		<p> <% @concerts.each do |concert| %></p>
		  <p><%= concert[:artist] %></p>
		  <p><%= concert[:venue] %></p>
		  <p><%= concert[:date] %></p>
		  <p><a href= "<%= concert[:url] %>"> Ticket info</a></p>
		  <hr>
		<% end %>
	</div>
</div>