
<div class="container">
    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Reviewed By <%=review.user.name%></h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row adjust">
                            <div class="col-xs-2 col-md-1">
                                <img src="<%=determine_image(review) %>" class="img-circle img-responsive" alt="" /></div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                      Venue: <%= review.venue %> - Rating: <%= review.overall_rating %>
                                    <div class="mic-info">
                                      Event Date: <%= review.event_date %>
                                    </div>
                                </div>
                                <div class="comment-text">
                                    <%= review.content %>
                                </div>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

