
<%= form_for(:user, :url =>session_path(:user)) do |f| %>
  <div class="span12">
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
</div>
<div class="span12">
  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
</div>
  <div class="modal-footer">
    <div class="actions">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%= f.submit "Login", class: "btn bnt-large btn-primary" %>
    </div>
  </div>
<% end %>