<%= form_for(:user, :url => registration_path(:user)) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="modal-footer">
    <div class="actions">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%= f.submit "Sign up",  class: "btn bnt-large btn-primary" %>
    </div>
  </div>
<% end %>