<!DOCTYPE html>
<html>
<head>

  <title>DiscoMuse</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp', 'data-turbolinks-track' => true %>
<script src="//cdnjs.cloudflare.com/ajax/libs/geocomplete/1.4/jquery.geocomplete.min.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>


  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!--Brand and toggle get grouped-->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria=expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"> </span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">DiscoMuse</a>
      </div>
      <div class="collapse navbar-collapse" id ="navbar">
        <ul class="nav nav-pills pull-right">
          <%= link_to new_user_session_path, id: "logo" do %>
          <i class="fa fa-home fa-3x"></i>
        <% end %>
            <li> <%= link_to "Log out", destroy_user_session_path,:method=> :delete %></li>

        </ul>
        <form id="artist-search" class="navbar-form navbar-left" role="search" action="/search/show" method="post">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Search For Artist" name="search_query">
          </div>
          <button type="submit" class="submit btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </nav>

  <% else %>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class ="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"> </span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">DiscoMuse</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav nav-pills">

            <li> <button type="button" class ="btn btn-primary" id ="navbutton" data-toggle="modal" data-target="#myLogin">Login</li>
            <li><button type="button" id ="navbutton" class="btn btn-primary" data-toggle="modal" data-target="#mySignup">Sign Up</button></li>
             <%= link_to user_omniauth_authorize_path(:facebook), id: "facebook" do %>
              <i class="fa fa-facebook-square fa-3x"></i>
            <% end %>

          </ul>
      </div>
    </nav>
    <!-- LOGIN  Modal -->
    <div class="modal fade" id="myLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Login</h4>
              <h3>Hey You! Did you see a show?</h3>
                <h4>Tell me about it.</h4>
          </div>
          <div class="modal-body">
            <%= render "layouts/login" %>
          </div>
        </div>
      </div>
    </div>
  <!-- Sign UP Modal -->
<div class="modal fade" id="mySignup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
          <h3>Welcome to DiscoMuse. </h3>
          <h4>The only site that allows you to access reviews on live shows by musical artists you want to know more about. Feel free to sign in with Facebook.</h4>
      </div>
      <div class="modal-body">
        <%= render "layouts/signup" %>
      </div>
    </div>
  </div>
</div>
  <% end %>


<div class="container">
    <%= yield %>
</div>

</body>
</html>
