<!DOCTYPE html>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<html>
<head>

  <title>knowB4youGO</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!--Brand and toggle get grouped-->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria=expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"> </span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">KnowB4youGO</a>
      </div>
      <div class="collapse navbar-collapse" id ="navbar">
        <ul class="nav nav-pills pull-right">
          <%= link_to new_user_session_path, id: "logo" do %>
          <i class="fa fa-home fa-3x"></i>
        <% end %>
          <li> <%= link_to "Log out", destroy_user_session_path,:method=> :delete %></li>
        </ul>
        <form id="artist-search" class="navbar-form navbar-left" role="search" action="/search/show" method="post">
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Search For Artist" name="search_query">
          </div>
          <button type="submit" class="submit btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </nav>

  <% else %>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class ="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"> </span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Knowb4YouGO</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav nav-pills">
           
            <li> <%= link_to "Sign Up", new_user_registration_path %></li>
            <li> <%= link_to "Log In", new_user_session_path %></li>
            <li> <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
           
      </div>
    </nav>

  <% end %>

  <div class="container">
    
    <%= yield %>
  </div>
</body>
</html>
